# ============================================================
#  IBM Watsonx.ai Credentials
# ============================================================
WATSONX_API_KEY=4SWu3s0_BnnT8Qed-gU9jtzfYOmNBc45ffNYVX3Y1haT
WATSONX_PROJECT_ID=2be4a650-65eb-41a3-8209-acb4ccffe636
WATSONX_URL=https://us-south.ml.cloud.ibm.com

# ============================================================
#  Flask Configuration
# ============================================================
FLASK_SECRET_KEY=change_this_to_a_random_secret_key
FLASK_ENV=development
FLASK_DEBUG=True

# ============================================================
#  App Configuration
# ============================================================
APP_PORT=5000
